body {
  font-family: Arial, sans-serif;
}

.container, #preventivo-page {
  text-align: center;
  margin: 20px;
}

.hidden {
  display: none;
}

button {
  margin-top: 10px;
}

#riepilogo {
  margin-top: 20px;
}
