body {
  font-family: Ayuthaya, sans-serif;
  background-image: url('background.jpeg'); /* Percorso dell'immagine */
  background-size: 50%; /* Ridimensiona l'immagine al 50% */
  background-position: center; /* Centra l'immagine */
  background-repeat: no-repeat; /* Evita la ripetizione dell'immagine */
  background-attachment: fixed; /* Mantiene l'immagine fissa durante lo scroll */
}

.container, #preventivo-page {
  text-align: center;
  margin: 20px;
}

.hidden {
  display: none;
}

button {
  margin-top: 50px;
}

#riepilogo {
  margin-top: 20px;
}

.valvola-title {
  background-color: white;
  padding: 10px; /* Aggiungi spaziatura intorno al testo se desiderato */
}
